*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-formulario{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.main-formulario label{
    font-size: 1.2rem;
    color: rgb(77, 74, 74);
}
.main-formulario legend{
    background-color: #E6E6FA;
    text-align: center;
    color: rgb(77, 74, 74);
    font-size: 2.5rem;
    font-weight: bold;
}
.main-formulario button{
    color: rgb(77, 74, 74);
    cursor: pointer;
    font-size: 1.0rem;
    border-radius: 44px;
    border: 1px solid  rgb(77, 74, 74);
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(167, 167, 235, 0.29);
}
.main-formulario button:hover{
    background-color: #dcdcfc;
    color: white;
}
.fieldset-formulario{
    border-radius: 34px;
    display: flex;
    justify-content: center;
    width: 40%;
    background-color: 	#D8BFD8;
    box-shadow: 10px 10px 5px 0px rgba(167, 167, 235, 0.29);
}
body{
    background-color: #E6E6FA;
}

.input-formulario{
    margin: 15px;
}
.input-formulario input{
    outline: none;
    width: 90%;
    padding: 5px 15px;
    
}
.botao-formulario{
    display: flex;
    justify-content: center;
}
@media print{
    input value{
        display: contents;
    }
    input{
        border: none;
    }
    button{
        display: none;
    }
   
    .fieldset-formulario{
        box-shadow: none;
      
    }
    
}
